USE [TravelEF]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 19.02.2026 13:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[AdminName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 19.02.2026 13:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NULL,
	[CustomerSurname] [nvarchar](50) NULL,
	[CustomerBalance] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guide]    Script Date: 19.02.2026 13:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guide](
	[GuideId] [int] IDENTITY(1,1) NOT NULL,
	[GuideName] [nvarchar](50) NULL,
	[GuideSurname] [nvarchar](50) NULL,
 CONSTRAINT [PK_Guide] PRIMARY KEY CLUSTERED 
(
	[GuideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 19.02.2026 13:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocationId] [int] IDENTITY(1,1) NOT NULL,
	[LocationCity] [nvarchar](50) NULL,
	[LocationCountry] [nvarchar](50) NULL,
	[LocationCapasity] [tinyint] NULL,
	[LocationPrice] [decimal](18, 2) NULL,
	[DayNight] [nvarchar](50) NULL,
	[GuideId] [int] NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Guide] ON 

INSERT [dbo].[Guide] ([GuideId], [GuideName], [GuideSurname]) VALUES (1, N'Ahmed Faruk', N'Tüfek')
INSERT [dbo].[Guide] ([GuideId], [GuideName], [GuideSurname]) VALUES (2, N'Veli', N'Korkmez')
INSERT [dbo].[Guide] ([GuideId], [GuideName], [GuideSurname]) VALUES (4, N'Zeynep', N'Gerez')
SET IDENTITY_INSERT [dbo].[Guide] OFF
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([LocationId], [LocationCity], [LocationCountry], [LocationCapasity], [LocationPrice], [DayNight], [GuideId]) VALUES (1, N'Roma', N'İtalya', 30, CAST(2500.00 AS Decimal(18, 2)), N'2 Gece 3 gün', 1)
INSERT [dbo].[Location] ([LocationId], [LocationCity], [LocationCountry], [LocationCapasity], [LocationPrice], [DayNight], [GuideId]) VALUES (2, N'İstanbul', N'Türkiye', 30, CAST(1500.00 AS Decimal(18, 2)), N'3 Gece 4 Gün', 2)
INSERT [dbo].[Location] ([LocationId], [LocationCity], [LocationCountry], [LocationCapasity], [LocationPrice], [DayNight], [GuideId]) VALUES (3, N'Berlin', N'Almanya', 35, CAST(1245.00 AS Decimal(18, 2)), N'1 Gece 2 Gün', 5)
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_Guide] FOREIGN KEY([GuideId])
REFERENCES [dbo].[Guide] ([GuideId])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_Guide]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [GuideId_Baglantisi] FOREIGN KEY([GuideId])
REFERENCES [dbo].[Guide] ([GuideId])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [GuideId_Baglantisi]
GO
